#Node
node_modules
npm-debug.log

#Buildoutput
dist
coverage

#Git
.git
.github

#Environment
.env
.env.example

#Ide
.vscode
.idea

#macOS
.DS_Store

#Docker
Dockerfile
docker-compose.yml

#Docs
Readme.md